.header{
	padding-bottom: 3px;
}

#title{
	display: inline-block;
	font-size: 3.6em;
	font-family: "Raleway", cursive;
	text-align: center;
	padding-bottom: 0.5em;
}

.slogan{
	width: 250px;
}

.logo{
	padding-bottom: 24px;
	text-align: center;
	float:right;
	font-family: "Raleway", cursive;
}

#attribution{
	display: block;
	padding-bottom: 8px;
}

