<br/>
<div *ngIf="searching">
	<md-progress-bar mode="indeterminate"></md-progress-bar>
</div>

<md-card *ngIf="imagesFound">
	<h4 *ngIf="imagesFound" md-subeader>Location images</h4>
	<p *ngIf="imagesCount == 0"><br/>No images found</p>
	<masonry [useImagesLoaded]="true">
	<masonry-brick *ngFor="let image of images" class=image-container>
		<md-card>
			<a href="{{ image.url }}" target="_bank">
				<md-card-header>
					<md-card-title>{{ image.title }}</md-card-title>
				</md-card-header>
				<img md-card-image src="{{image.url}}">
				<md-card-content>
					<p>Tags: {{ getTags(image.tags) }}</p>
					<p>Taken on: {{ image.datetaken }}</p>
					<p>Owner: {{ image.ownername }}</p>
				</md-card-content>
			</a>
		</md-card>
		<br><br>
	</masonry-brick>
	</masonry>
</md-card>
