.avatar{
	margin-bottom: 7px;
}

.searchButton{
	background-color: grey;
	color: #fff;
	margin-top:20px;
}

.image-container{
	width: 300px;
	min-height: 100px;
	max-width: 300px;
	margin: 8px;
	border-radius: 2px;
	overflow: hidden;
}

.results{
	padding: 8px;
	margin-bottom: 12px;
}
